
.todo {
    margin: 4px auto;
}
.todo:first-of-type {
    margin-top: 0px;
}

.layout {
    display: flex;
  align-items: top;
  padding: 10px !important;
}

.text {
  font-size: 18px;
  line-height: 24px;
  margin-left: 10px;
  max-width: calc(100% - 24px - 10px);
}